 <tr>
        <td><%= post.title %></td>
        <td><%= post.company %></td>
        <td><%= post.salary %></td>
        <td><%= post.country %></td>
        <td><%= post.check %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>