<h1>Listing posts</h1>

<p>
  Download:
  <%= link_to "CSV", posts_path(format: "csv") %> |
  <%= link_to "Excel", posts_path(format: "xls") %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Company</th>
      <th>Salary</th>
      <th>Country</th>
      <th>Check</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @posts %>
    
  </tbody>
</table>
<%= will_paginate @posts %>

<h2>Import Posts</h2>

<%= form_tag import_posts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>